/*
	CSS Reset
	----------------------------------------------------------

	Based on the HTML5 Reset Wordpress Theme :: https://github.com/murtaugh/HTML5-Reset-Wordpress-Theme

	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://ericmeyer.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
	Special thanks: The Wordpress theme owes its start to an empty theme authored 
		by Chris Coyier & Jeff Starr: http://digwp.com	
*/
/* Let's default this puppy out
----------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,300italic,600,700,800&subset=latin,latin-ext);
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
img,
object,
embed {
  max-width: 100%;
}
html {
  overflow-y: scroll;
}
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  font-weight: bold;
  vertical-align: bottom;
}
td {
  font-weight: normal;
  vertical-align: top;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}
select,
input,
textarea {
  font: 99% sans-serif;
}
table {
  font-size: inherit;
  font: 100%;
}
a:hover,
a:active {
  outline: none;
}
small {
  font-size: 85%;
}
strong,
th {
  font-weight: bold;
}
td,
td img {
  vertical-align: top;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
.clickable,
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}
button,
input,
select,
textarea {
  margin: 0;
}
button {
  width: auto;
  overflow: visible;
}
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
:focus {
  outline: 0 !important;
}
:active {
  outline: 0 !important;
}
.group {
  zoom: 1;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
body {
  font: 12px 'Open Sans', sans-serif;
  font-weight: 400;
  color: #313c4b;
}
#map {
  width: 100%;
  height: 100%;
}
.mapboxgl-popup {
  max-width: 320px;
  top: -35px;
}
.filter-group {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  width: 120px;
  padding: 10px 12px;
}
.filter-group input[type=checkbox] {
  display: none;
}
.filter-group input[type=checkbox] + label {
  display: block;
  cursor: pointer;
  line-height: 16px;
  padding: 4px 0;
}
.filter-group input[type=checkbox] + label {
  text-transform: capitalize;
}
.filter-group input[type=checkbox] + label:before {
  content: '';
  width: 10px;
  height: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid white;
  background-color: transparent;
  margin-right: 10px;
}
.filter-group label[for="severe-storms"]:before {
  border-color: #26D1F9 !important;
}
.filter-group label[for="volcanoes"]:before {
  border-color: #C99191 !important;
}
.filter-group label[for="wildfires"]:before {
  border-color: #ED5D5A !important;
}
.filter-group label[for="floods"]:before {
  border-color: #5E7CD3 !important;
}
.filter-group input[type=checkbox]:checked + label[for="severe-storms"]:before {
  background-color: #26D1F9 !important;
}
.filter-group input[type=checkbox]:checked + label[for="volcanoes"]:before {
  background-color: #C99191 !important;
}
.filter-group input[type=checkbox]:checked + label[for="wildfires"]:before {
  background-color: #ED5D5A !important;
}
.filter-group input[type=checkbox]:checked + label[for="floods"]:before {
  background-color: #5E7CD3 !important;
}
